.vscode/
build/
csrc/deepep/ops/build_out/
csrc/deepep/ops/cmake/util/__pycache__/
output/
python/deep_ep/build/
python/deep_ep/deep_ep.egg-info/
python/deep_ep/deep_ep/vendors/
tests/python/deepep/__pycache__/
tests/python/deepep/extra-info/
tests/python/deepep/fusion_result.json
tests/python/deepep/kernel_meta/
fusion_result.json
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo